# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local
.env.*

# Node
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
venv/
.env/

# VS Code
.vscode/

# Build outputs
dist/
build/

# IDE
.idea/
